.item {
  --_marker-width: var(--marker-width, 1.75rem);
  --_marker-icon: var(
    --marker-icon,
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 28 28"%3E%3Crect width="26" height="26" x="1" y="1" stroke="%23385159" stroke-width="2" rx="3"/%3E%3Cpath fill="%23385159" d="m19.06 6.8 1.3 2.2c-2.26 1.06-3.92 2.54-4.96 4.46-1.02 1.9-1.56 4.42-1.6 7.54h-2.6c-.3-2.62-1.7-4.56-4.4-5.28l.92-2.44c1.04.32 1.96.88 2.76 1.7.82.82 1.36 1.74 1.64 2.78.46-4.86 2.8-8.64 6.94-10.96Z"/%3E%3C/svg%3E')
  );

  position: relative;
  padding-left: calc(var(--_marker-width) * 1.5);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: var(--_marker-width);
    aspect-ratio: 1;
    background: var(--_marker-icon) no-repeat center / contain;
  }

  &[data-marker-small] {
    --marker-width: 1.5rem;
  }

  &[data-marker-dark] {
    --marker-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 28 28"%3E%3Crect width="26" height="26" x="1" y="1" stroke="%23062630" stroke-width="2" rx="3"/%3E%3Cpath fill="%23062630" d="m19.06 6.8 1.3 2.2c-2.26 1.06-3.92 2.54-4.96 4.46-1.02 1.9-1.56 4.42-1.6 7.54h-2.6c-.3-2.62-1.7-4.56-4.4-5.28l.92-2.44c1.04.32 1.96.88 2.76 1.7.82.82 1.36 1.74 1.64 2.78.46-4.86 2.8-8.64 6.94-10.96Z"/%3E%3C/svg%3E');
  }
}
