.section {
  display: none;

  @media screen and (min-width: calc(1234 / 16 * 1rem)) {
    display: block;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  border-radius: 1.25rem;
  padding: 5rem 3.75rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  counter-reset: counter;

  > li {
    position: relative;
    counter-increment: counter;

    padding-top: 4rem;

    &::before {
      position: absolute;
      content: counter(counter);
      top: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0.25rem;
      border: 0.125rem solid transparent;
      width: 2.5rem;
      aspect-ratio: 1;
    }
  }
}
