@mixin generate-root-variables($map) {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $key, $value in $values {
    --#{$prefix}-#{$key}: #{$value};
  }
}

@mixin set-font-styles(
  $font-family,
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $text-transform: none
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}
