@layer {
  img {
    display: block;
  }

  picture img {
    width: 100%;
    border-radius: 0.75rem;
  }

  blockquote {
    &::before {
      content: '"';
    }

    &:after {
      content: '"';
    }
  }
}
