.pattern {
  background-position: left top;
  background-repeat: no-repeat;

  &--light {
    background-image: url("/images/pattern-light-bg.svg");
    @extend .pattern;
  }

  &--dark {
    background-image: url("/images/pattern-dark-bg.svg");
    @extend .pattern;
  }
}
