@layer {
  [data-text-preset="1"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-700);
    font-size: var(--fs-2xl);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-tightest);
  }

  [data-text-preset="2"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-700);
    font-size: var(--fs-xl);
    line-height: var(--lh-130);
    letter-spacing: var(--ls-tightest);
  }

  [data-text-preset="3"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-600);
    font-size: var(--fs-lg);
    line-height: var(--lh-130);
    letter-spacing: var(--ls-tighter);
  }

  [data-text-preset="4"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-600);
    font-size: var(--fs-md);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-tighter);
  }

  [data-text-preset="5"] {
    font-family: "Inter";
    font-weight: var(--fw-400);
    font-size: var(--fs-rg);
    line-height: var(--lh-140);
    letter-spacing: var(--ls-tight);
  }

  [data-text-preset="6"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-600);
    font-size: var(--fs-sm);
    line-height: var(--lh-130);
    letter-spacing: var(--ls-tighter);
  }

  [data-text-preset="7"] {
    font-family: var(--ff-martian-mono);
    font-weight: var(--fw-400);
    font-size: var(--fs-xs);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-tighter);
  }
}

@layer {
  [data-uppercase] {
    text-transform: uppercase;
  }

  [data-semibold] {
    font-weight: var(--fw-600);
  }
}
