.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;

  @media screen and (min-width: calc(921 / 16 * 1rem)) {
    align-items: center;
    text-align: center;
  }

  > figure {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: inherit;
  }
}
